.side-nav li {
    border-bottom: 1px solid lightgray;
    padding-left: 10px;
    display: block;
}

.offcanvas {
    background-color: #0d243a;
    color: white;
    width: 134px;
}

.fixed-nav {
    position: fixed;
    left: 0;
}

.side-nav li:hover {
    background-color: rgba(41, 2, 2, 0.185);
}